# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\projekty\Java\lets-meet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
